services:
  redis:
    image: redis:alpine
    container_name: seoul-map-redis
    ports:
      - "127.0.0.1:6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 1. API 서버 (사용자 요청 처리용)
  api-server:
    build:
      context: .
      target: api-runner
    image: ideal402/seoul-api:latest
    container_name: seoul-map-api
    ports:
      - "8081:8081"
    depends_on:
      redis:
        condition: service_healthy
    environment: &common-env # 공통 환경 변수를 재사용하기 위한 앵커
      SPRING_DATASOURCE_URL: jdbc:postgresql://34.64.113.229:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      SPRING_SESSION_STORE_TYPE: redis
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      SEOUL_API_KEY: ${SEOUL_API_KEY}
    restart: always

  # 2. Batch 서버 (공공데이터 수집 전담용)
  batch-server:
    build:
      context: .
      target: batch-runner
    image: ideal402/seoul-batch:latest
    container_name: seoul-map-batch
    depends_on:
      redis:
        condition: service_healthy
    environment:
      <<: *common-env # API 서버와 동일한 환경 변수 적용
    deploy:
      replicas: 1 # [중요] 스케줄러 중복 실행 방지를 위해 무조건 1대만 유지
    restart: always