services:
  db:
    image: postgis/postgis:16-3.4 # 일반 postgres가 아닌 postgis 이미지를 사용해야 합니다.
    container_name: seoul-map-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}        # 생성할 DB 이름
      POSTGRES_USER: ${POSTGRES_USER}          # DB 계정
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  # DB 비밀번호

    command: >
      postgres
      -c log_connections=on
      -c log_line_prefix='%m [%p] %h '

    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data # 컨테이너가 내려가도 데이터가 사라지지 않게 로컬에 저장
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d seoulmap" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: seoul-map-redis
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5


  server:
    build: .
    container_name: seoul-map-server
    ports:
      - "8080:8080" # 호스트 포트 : 컨테이너 포트
    depends_on:
      db:
        condition: service_healthy # db의 healthcheck가 통과되어야 서버 시작
      redis: # Redis 의존성 및 조건 추가
        condition: service_healthy
    environment:
      # 컨테이너 내부 통신을 위한 설정 재정의
      # 'localhost' 대신 서비스 명인 'db'를 호스트로 사용해야 함
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/seoulmap
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver

      # 서버 설정
      SERVER_PORT: 8080

      # JPA 설정
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      # JWT 설정
      JWT_SECRET: ${JWT_SECRET}
      # 만료 시간 설정
      JWT_EXPIRATION_TIME: 3600000

      #Redis 설정
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

      # 공공데이터 api
      SEOUL_API_KEY: ${SEOUL_API_KEY}